<div class=Deck><span id=Deck>{{Deck}}</span></div>
\n
<script>document.getElementById('Deck').innerHTML=\"{{Deck}}\".replace(\"::\",\" &minus; \");</script>\n\n<a class='ankiru' href='https://vk.com/ankiru' title='vk.com/ankiru'></a>\n\n
<div class=English>
    <span>
        <table>
            <tr>
                <td>{{IMG}}</td>
                <td> {{cloze:English}}</td>
            </tr>
        </table>
    </span>
</div>
\n\n{{type:cloze:English}}\n\n<!hr id=answer>\n\n
<div class=Translation><span>{{Transcription}}</span></div>
\n
<div class=Russian><span>{{Russian}}</span></div>
\n
<div class=Sound><span>{{Sound}}</span></div>
\n