<div class=English>
    <span>
        <table>
            <tr>
                <td>{{IMG}}</td>
                <td> {{cloze:English}}</td>
            </tr>
            <tr>
                <td></td>
                <td> {{cloze:Examples}}</td>
            </tr>
        </table>
    </span>
</div>
<br/>
{{type:cloze:English}}<!hr id=answer>
<div class=Translation><span>{{Transcription}}</span></div>
<div class=Russian><span>{{Russian}}</span></div>
<div class=Sound><span>{{Sound}}</span></div>