.card {
    width: 50%;
    margin: auto;
    font-family: arial;
    line-height: 1.75em;
    font-size: 20px;
    text-align: left;
    color: black;
}

.cloze {
    font-weight: bold;
    color: blue;
}

#typeans {
    padding-top: 0.5em;
    text-align: center;
    max-width: 300px;
}

input#typeans {
    align: left;
    border-radius: 1px;
}

.Translation {
    font-family: Lucida Sans Unicode;
    color: gray;
    padding-top: 0.5em;
}

div span {
    max-width: 900px;
    display: inline-block;
    text-align: left;
}

.English {
    padding: 1em;
}

#typeans span {
    background-color: #f3f3f3;
}

.typeBad {
    color: #dc322f;
    font-weight: bold;
    font-size: 23px;
}

.typeMissed,
.typePass {
    color: #268bd2;
    font-weight: bold;
    font-size: 23px;
}

.typeGood {
    color: #2ed85a;
    font-weight: bold;
}
