.card {
    font-family: arial;
    line-height: 1.75em;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

.cloze {
    font-weight: bold;
    color: blue;
}

#typeans {
    padding-top: 0.5em;
    text-align: center;
    max-width: 300px;
}

input#typeans {
    border-radius: 9px
}

.Translation {
    font-family: Lucida Sans Unicode;
    color: gray;
    padding-top: 0.5em;
}

IMG {
    border-radius: 19px;
}

div span {
    max-width: 900px;
    display: inline-block;
    text-align: left;
}

.English {
    padding: 1em;
}

.English IMG {
    float: left;
}


/* solarize http://ethanschoonover.com/solarized * http://ospalh.github.io/anki-addons/Scalar.html * http://ospalh.github.io/anki-addons/Compare%20to%20kana.html */

.card {
    color: black;
    background-color: #f3f3f3;
}

#typeans span {
    background-color: #f3f3f3;
}

.typeBad {
    color: #dc322f;
    font-weight: bold;
    font-size: 23px;
}

.typeMissed,
.typePass {
    color: #268bd2;
    font-weight: bold;
    font-size: 23px;
}

.typeGood {
    color: #2ed85a;
    font-weight: bold;
}

.ankiru {
    position: absolute;
    top: 7px;
    right: 27px;
    background: url('_ankiru.png') top right no-repeat;
    display: block;
    width: 135px;
    height: 32px;
}

.Deck {
    position: absolute;
    top: 7px;
    left: 0px;
    width: 100%;
}

#Deck {
    font-size: 8pt;
    vertical-align: top;
    line-height: 10pt;
}
